@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --lumin-scrollbar-color: #3a3a3a;
    --lumin-scrollbar-background: transparent;
}

.luminx-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--lumin-scrollbar-color)
        var(--lumin-scrollbar-background);
}

.luminx-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.luminx-scrollbar::-webkit-scrollbar-track {
    background: var(--lumin-scrollbar-background);
    border-radius: 4px;
}

.luminx-scrollbar::-webkit-scrollbar-thumb {
    background: var(--lumin-scrollbar-color);
    border-radius: 4px;
}

.luminx-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--lumin-scrollbar-color);
}

.luminx-scrollbar::-webkit-scrollbar-button {
    display: none;
}
