.skeleton-shimmer {
    position: relative;
    overflow: hidden;
    animation: pulse 1.5s ease-in-out infinite;
}

[data-theme="dark"] .skeleton-shimmer {
    background-color: var(--luminx-dark-background);
}

[data-theme="light"] .skeleton-shimmer {
    background-color: var(--luminx-light-background);
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
